/* 
    In your yuck file, elements are defined with 
    defwindow and defwidget. Just copy the name after that keyword
    to select it.
    
    Also refer to the GTK CSS styling documentation
    https://docs.gtk.org/gtk3/css-overview.html
    
    There is also a GTK-Debugger if something
    doesnt't work the right way. Just run
    "./eww inspector"

    To reload the config, use
    "./eww reload"

    FONTS AND ICONS
    Make sure you have the following fonts installed:
    * Fira Code Mono
    * Material Design Icons
    Install into a folder like /usr/share/fonts
    Reload the cache using "fc-cache -f -v"
    Kill eww and re-run
    To insert icons, look up the code point on Google for the font,
    then use gucharmap, select th font
    view > select "By Unicode Block" and check "Show only glyphs from this font"
    Then select "private use area" on the left, then navigate to the code point to select the text to copy
*/
@use "colors";

* {
    all: unset;
}

// @use "colors";

/* Fonts */
$MaterialIcons: "Material Icons";
// $mainFont: "Fira Mono Medium";\
$PhosphorIconsFilled: "Phosphor-Fill";
$PhosphorIconsRegular: "Phosphor";
$mainFont: "JetBrainsMono Nerd Font";
// $mainFont: "Iosevka Nerd Font";

.icon-showcase {
    font-family: "Phosphor-Fill";
    font-size: 16px;
    color: colors.$green;
}

/* Widgets and windows*/
.bar {
    background-color: colors.$crust;
    color: colors.$text;
    padding: 0 16px;
    font-size: 14px;
    // border-top: 4px solid;
    // border-color: colors.$mauve;
    // border-color: rgba(203, 166, 247, 0.5);
}

.launcher {
    /* background-color: white; */
    // background-color: $sumiInk1;
    // margin: 12px 8px;
    // background-color: white;
}

// .launcer:hover {
//     cursor: pointer;
// }

.launcer-eventbox {
    // background-color: colors.$sumiInk0;
}

.launcer-eventbox:hover {
    // background-color: colors.$sumiInk1;
}

.workspaces-container {
    background-color: colors.$base;
    margin: 0.6rem 0 0.6rem 0;
    padding: 0 0 0 1rem;
    border-radius: 8px;
    // border-radius: 8px 0 0 8px;
    font-family: $mainFont;
}

.workspaces {
    color: colors.$text;
    // background-color: colors.$sumiInk1;
    // background-color: colors.$base;
    // margin: 0.6rem 0 0.6rem 0;
    // padding: 0 1rem;
    // border-radius: 8px;
    // font-family: $mainFont;
    // height: 100%;
    padding-right: 1rem;
}

.workspace-empty {
    color: colors.$surface0;
}

.workspace-active {
    color: colors.$green;
    // color: colors.$springGreen;
    font-weight: bold;
    // background-color: colors.$fujiGray;
}

.workspace-occupied {
    color: colors.$text;
}

.workspace-urgent {
    color: colors.$red;
    font-weight: bold;
}

.mode-indicator-container {
    // background-color: colors.$red;
    // padding: 0 1rem;
    // border-radius: 0 8px 8px 0;
    // overflow: hidden;
    // margin-left: 1rem;
}

.vertical-splitting-indicator-container {
    // background-color: colors.$blue;
    // padding: 0 1rem;
    // border-radius: 0 8px 8px 0;
}

.mode-indicator {
    background-color: colors.$red;
    color: colors.$crust;
    padding: 0 1rem;
    border-radius: 0 8px 8px 0;
    font-family: $mainFont;
}

.split-indicator, .split-indicator-rounded {
    background-color: colors.$blue;
    color: colors.$crust;
    padding: 0 1rem;
    font-family: $mainFont;
    // font-family: $PhosphorIconsRegular;
}

.split-indicator-rounded {
    border-radius: 0 8px 8px 0;
    
}

.music {
    background-size: cover;
    margin: 0.6rem 0 0.6rem 0;
    padding: 0 1rem;
    border-radius: 8px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/IckyMettle.jpeg");
    font-family: $mainFont;
}

.power-button {
    // margin: 0.6rem 0 0.6rem 0;
    // padding: 0 1rem;
    font-size: 22px;
    color: colors.$red;
    font-family: "Material Icons";
}

.icon {
    font-family: $MaterialIcons;
    font-size: 1.2rem;
}

.controls, .stats, .hotbar {
    background-color: colors.$base;
    margin: 0.6rem 0 0.6rem 0;
    padding: 0 1rem;
    border-radius: 8px;
    font-family: $mainFont;
    // vertical-align: middle;
}

.folder-icon {
    color: colors.$mauve;
}

.controls .icon, .stats .icon {
    margin-right: 0.6rem;
}

.time {
    background-color: colors.$base;
    margin: 0.6rem 0 0.6rem 0;
    padding: 0 1rem;
    border-radius: 8px;
    font-family: $mainFont;
}

.brightness-icon {
    color: colors.$yellow;
    font-family: $PhosphorIconsFilled;
}

.battery-icon {
    color: colors.$green;
    font-family: $PhosphorIconsFilled;
}

.wifi-icon {
    color: colors.$sapphire;
}

.time-icon {
    margin-right: 12px;
    color: colors.$mauve;
}

.volume-icon {
    // font-family: $MaterialIcons;
    font-family: $PhosphorIconsFilled;
    color: colors.$red;
}

.icon-text-group .icon {
    margin-right: 0.4rem;
}

.date {
    margin-right: 0.6rem;
}

.launcher {
    // background-color: white;
    border-radius: 8px;
    padding: 0 1rem;
    margin: 0.6rem 0;
}

.launcher-eventbox:hover .launcher {
    background-color: colors.$base;
}

.power-button {
    border-radius: 8px;
    padding: 0 1rem;
    margin: 0.6rem 0;
}

.powermenu-eventbox:hover .power-button {
    background-color: colors.$base;
}

.hotbar-eventbox:hover .hotbar {
    background-color: colors.$mauve;
    color: black;
}

.hotbar-eventbox:hover .folder-icon {
    color: colors.$yellow;
}

.sidebar {
    background-color: colors.$crust;
    border-radius: 8px;
    border: 3px solid colors.$blue;
}